#header .social-icons li {
  transition: all 100ms ease-in;
  width: 30px;
}
#header .social-icons li:hover {
  background-color: #F1F5F9;
  transform: scale(1.1);
}
#header .social-icons li:hover a {
  color: #FF8000;
}

@media screen and (min-width: 1024px) {
  .menu ul a {
    transition: 0.2s ease-in-out;
  }
  .menu ul a:hover {
    color: #FF8000;
  }
  .menu ul .menu-item i {
    border: none;
  }
  .menu ul .menu-item .submenu {
    position: absolute;
    width: 150px;
    opacity: 0;
    transform: translateY(0px);
  }
  .menu ul .menu-item .submenu a {
    transition: 0.1s ease-in;
  }
  .menu ul .menu-item .submenu a:hover {
    color: #FF8000;
  }
  .menu ul .menu-item:hover .submenu {
    opacity: 1;
    transform: translateY(10px);
    transition: 0.2s ease-in;
  }
}
@media screen and (max-width: 1024px) {
  #header .hamburger-menu {
    width: 40px;
    height: 25px;
  }
  #header #overly-menu:checked + #background-menu + .overly {
    transform: translateX(100%);
    animation: close-menu 0.5s 0.3s forwards;
  }
  #header #background-menu:checked + .overly {
    animation: open-menu 0.5s forwards;
  }
  #header #background-menu:checked ~ ul {
    animation: open-menu 0.3s 0.5s forwards;
  }
  #header #overly-menu:checked ~ ul {
    animation: close-menu 0.5s forwards;
  }
  #header .social-icons {
    display: none;
  }
  #header .menu {
    position: fixed;
    height: 100%;
    top: 0;
    right: 100%;
  }
  #header .menu .overly {
    background-color: rgba(51, 51, 51, 0.5019607843);
    height: 100%;
  }
  #header .menu a {
    transition: 0.1s ease;
  }
  #header .menu a:hover, #header .menu a:hover i {
    color: #FF8000;
  }
  #header .menu .close {
    transition: 0.2s ease-in;
  }
  #header .menu .close:hover {
    background-color: #F1F5F9;
  }
  #header .menu .close:hover i {
    color: #FF8000;
  }
  #header .menu > ul {
    overflow-y: auto;
    background-color: #040410;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  #header .menu > ul #pages:checked + a + .submenu {
    display: flex;
  }
  #header .menu > ul .menu-item a {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  #header .menu > ul .menu-item a i {
    cursor: pointer;
    font-size: 10px;
    padding: 3px 13px;
    transition: 0.2s ease-in;
  }
  #header .menu > ul div:first-child i {
    font-size: 12px;
    padding: 6px 14px;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  #header .menu > ul .submenu {
    display: none;
  }
  #header > label {
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    padding: 4px;
    gap: 3px;
    transition: 0.2s ease-in;
  }
  #header > label:hover {
    background-color: #F1F5F9;
  }
  #header > label:hover span {
    background-color: #FF8000;
  }
  #header > label span {
    transition: 0.2s ease-in;
    height: 3px;
    border-radius: 1px;
  }
}
@keyframes open-menu {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes close-menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.btn-variant {
  background-color: transparent;
  color: #F1F5F9;
  text-decoration: underline;
  cursor: pointer;
  transition: 200ms 0s linear;
  padding: 10px 40px;
  border-color: #F1F5F9;
}
.btn-variant:hover {
  background-color: #FFFFFF;
  color: #040410;
  transform: scale(1.1);
}

.btn {
  background-color: #FF8000;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
  padding: 10px 40px;
}
.btn:hover {
  background-color: transparent;
  color: #FF8000;
  transform: scale(1.1);
}

.title-spacing {
  letter-spacing: 6px;
}

h2 {
  letter-spacing: 6px;
}

h3 {
  word-spacing: 5px;
}

.top-image {
  margin-top: -50px;
}
@media screen and (max-width: 1024px) {
  .top-image {
    margin: 0px;
  }
}

.blog-btn {
  text-decoration: none;
  padding: 12px 30px;
}
.blog-btn:hover {
  transform: scale(1);
}

.footer-menu a {
  transition: 0.2s ease;
}
.footer-menu a:hover {
  color: #FF8000;
}

.under-line-width {
  width: 100px;
}

.vision i {
  padding: 10px 14px;
}

.Mission i {
  padding: 10px;
}

.menu-item a label i {
  padding: 0px 2px;
}

#moon {
  background-image: url("../media/images/moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  background-size: 1700px;
}
@media screen and (max-width: 1024px) {
  #moon .txt-center-lg {
    text-align: center;
  }
}
@media screen and (max-width: 478px) {
  #moon .txt-center-sm {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  #about-us::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../media/images/bg-moon-vertical.png");
    background-position: 0% 78%;
    background-repeat: no-repeat;
    background-size: 109% 79%;
    opacity: 0.4;
  }
}
.image-box img:first-child {
  transform: rotateZ(-10deg);
  top: -20%;
  left: -30px;
}
.image-box img:last-child {
  transform: rotateZ(10deg);
  bottom: -2%;
  right: 50px;
}
@media screen and (max-width: 1024px) {
  .image-box img:first-child {
    transform: rotateZ(0deg);
    left: 10px !important;
  }
  .image-box img:last-child {
    transform: rotateZ(0deg);
    right: 10px;
  }
}

.team-info {
  background-image: url("../media/images/Circle5-e1708581541681.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .team-info {
    background-image: url("../media/images/Circle1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .team-info {
    background-image: url("../media/images/Background-Responsive.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }
}

#team > div:last-child > div {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#team > div:last-child > div:hover::before {
  transform: translateY(0%);
}
#team > div:last-child > div:hover .profile-overly {
  transform: translateY(0);
  opacity: 1;
}
#team > div:last-child > div::before {
  content: "";
  background-color: #040410;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}
#team > div:last-child > div .profile-overly {
  top: 0;
  right: 0;
  height: 100%;
  transform: translateY(20%);
  opacity: 0;
  transition: 0.3s 0.05s ease-in-out;
}
#team > div:last-child > div .profile-overly .social-icons a {
  width: 26px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
#team > div:last-child > div .profile-overly .social-icons a i {
  transform: translateY(0px);
}
#team > div:last-child > div .profile-overly .social-icons a:hover {
  background-color: #FF8000;
  color: #F1F5F9;
}
#team > div:last-child > div .profile-overly .social-icons a:hover i {
  animation: profile-icon 0.5s forwards;
}

@keyframes profile-icon {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(100%);
    opacity: 0;
  }
  31% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
}
#blog .blog-cards .card .blog-term {
  padding-top: 2px;
  padding-bottom: 2px;
  top: 20px;
  left: 20px;
}
#blog .blog-cards .card .blog-image img {
  border-top-right-radius: 35px;
  transition: all 350ms ease-in-out;
}
#blog .blog-cards .card:hover .blog-image img {
  transform: rotateZ(2deg) scale(1.1);
  filter: brightness(0.7) contrast(1);
}

#join-us {
  background-image: url(../../assets/media/images/mystic-view-of-the-half-moon-in-the-black-space-2023-11-27-04-59-24-utc-Photoroom.png-Photoroom.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  position: relative;
}
#join-us::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: #000000;
  opacity: 0.5;
}

#circles .circle {
  width: 160px;
}
@media screen and (max-width: 767px) {
  #circles .circle {
    width: 130px;
  }
}
#circles .circle-variant {
  width: 210px;
}
@media screen and (max-width: 767px) {
  #circles .circle-variant {
    width: 180px;
  }
}
@media screen and (max-width: 478px) {
  #circles .circle-variant {
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
  }
}

.txt-end {
  text-align: end;
}

@media screen and (max-width: 1024px) {
  .txt-lg-end {
    text-align: end;
  }
}

.txt-start {
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .txt-lg-start {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .txt-md-center {
    text-align: center;
  }
}

#activities {
  position: relative;
  width: 100vw;
}
#activities::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("../media/images/Star8.png");
  background-color: rgba(4, 4, 16, 0.4666666667);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 45%;
  transform: rotate(178deg);
  z-index: 1;
}
@media screen and (max-width: 1020px) {
  #activities {
    background-position-x: 50%;
  }
}
@media screen and (max-width: 767px) {
  #activities {
    background-image: url("../media/images/BG-WWD.png");
  }
  #activities .activities-subtitle {
    letter-spacing: 5px;
  }
}
#activities div .activity-image-box .quarter .circle-icon {
  width: 50px;
}
@media screen and (max-width: 767px) {
  #activities div .activity-image-box .quarter img {
    border-radius: 25px !important;
    height: 200px;
    object-fit: cover;
  }
}
#activities div .activity-image-box:nth-child(1) .quarter {
  transition: 200ms 0s linear;
}
#activities div .activity-image-box:nth-child(1) .quarter .circle-icon {
  top: 29%;
  left: 15%;
}
@media screen and (max-width: 767px) {
  #activities div .activity-image-box:nth-child(1) .quarter .circle-icon {
    top: -15%;
    left: 0%;
  }
}
#activities div .activity-image-box:nth-child(1) .quarter:hover {
  transform: translate(-2%, -2%);
}
#activities div .activity-image-box:nth-child(2) .quarter {
  transition: 200ms 0s linear;
}
#activities div .activity-image-box:nth-child(2) .quarter .circle-icon {
  top: 29%;
  left: 70%;
}
@media screen and (max-width: 767px) {
  #activities div .activity-image-box:nth-child(2) .quarter .circle-icon {
    top: -15%;
    left: 92%;
  }
}
#activities div .activity-image-box:nth-child(2) .quarter:hover {
  transform: translate(2%, -2%);
}
#activities div .activity-image-box:nth-child(3) .quarter {
  transition: 200ms 0s linear;
}
#activities div .activity-image-box:nth-child(3) .quarter .circle-icon {
  top: 56%;
  left: 15%;
}
@media screen and (max-width: 767px) {
  #activities div .activity-image-box:nth-child(3) .quarter .circle-icon {
    top: -15%;
    left: 0%;
  }
}
#activities div .activity-image-box:nth-child(3) .quarter:hover {
  transform: translate(-2%, 2%);
}
#activities div .activity-image-box:nth-child(4) .quarter {
  transition: 200ms 0s linear;
}
#activities div .activity-image-box:nth-child(4) .quarter .circle-icon {
  top: 54%;
  left: 71%;
}
@media screen and (max-width: 767px) {
  #activities div .activity-image-box:nth-child(4) .quarter .circle-icon {
    top: -15%;
    left: 92%;
  }
}
#activities div .activity-image-box:nth-child(4) .quarter:hover {
  transform: translate(2%, 2%);
}

#partners .scroll-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scroll-padding: 0px;
}
@media screen and (max-width: 1024px) {
  #partners .scroll-image {
    gap: 300px;
  }
}
#partners .scroll-image img {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  flex-shrink: 0;
  flex-basis: 10%;
}
@media screen and (max-width: 1024px) {
  #partners .scroll-image img {
    flex-basis: 15%;
  }
}

#comments .scroll-comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scroll-padding: 0px;
}
#comments .scroll-comment .comment-card {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  flex-shrink: 0;
  flex-basis: 50%;
}
@media screen and (max-width: 767px) {
  #comments .scroll-comment .comment-card {
    flex-basis: 70%;
  }
}
#comments .scroll-comment .profile {
  width: 70px;
}

#footer div .social-icons li {
  transition: all 100ms ease-in;
  width: 30px;
}
#footer div .social-icons li:hover {
  background-color: #F1F5F9;
}
#footer div .social-icons li:hover a {
  color: #FF8000;
}
#footer .content-footer-menu ul li span {
  transition: 0.2s ease;
  width: 25px;
}
#footer .content-footer-menu ul li span:hover {
  color: #69727d;
}

/*# sourceMappingURL=style.css.map */
