@font-face {
    font-family: 'websima-ico';
    font-display: block;
    font-weight: 900;
    src: url("../font/websima-ico.ttf") format("ttf"), url("../font/websima-ico.ttf") format("truetype"); 
}

.side-menu-icon::before{
    font-family: "websima-ico";
    content: '\e900';
}

.intro-btn.lbtn::before{
    font-family: "websima-ico";
    content: '\e901';
}