*{
    box-sizing: border-box;
}
#articles{
    height: 100vh;
    background-image: url(image-asset("background-hero.webp"));
    background-size: cover;
    background-repeat: no-repeat;

    .article-box{
        & > div:first-child{
            background: linear-gradient(180deg,#393B3E 0%,transparent 80%);
            width: 140px;
            padding: 4px;
            img{
                transition: .3s;
            }
            &::after{
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                background-image: url(image-asset("texture.jpg"));
                animation: article-hover-box 400s infinite;
                width: calc(100% - 10px);
                aspect-ratio: 1;
                border-radius: 10px;
            }
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                background-image: url(../media/images/roundbadge.png);
                width: 68px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background-color: #fff;
                background-position: center;
                z-index: 2;
                background-repeat: no-repeat;
                background-size: 68%;

            }
        }
        & > div:last-child{
            flex: 2;
            & > p:first-child{
                a{
                    transition: .3s;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: -100%;
                    right: 0;
                    height: 2px;
                    width: 10px;
                    background-color: get-color(title-text);
                    border-radius: 30px;
                    transition: .3s;
                }
            }
            & > p:last-child{
                transition: .3s;
                &::before{
                    content: "";
                    position: absolute;
                    top: 45%;
                    right: 0;
                    height: 1px;
                    width: 25px;
                    background-color: get-color(title-text);
                    transition: .3s;
                }
            }
        }
        &:hover{
            cursor: pointer;
            & > div:first-child{
                img{
                    opacity: 0;
                }
            }
            & > div:last-child{
                & > p:first-child{
                    a{
                        color: get-color(primary);
                    }
                    &::before{
                        background-color: get-color(primary);
                        width: 35px;
                    }
                }
                & > p:last-child{
                    color: get-color(title-text);
                    &::before{
                        background-color: get-color(primary);
                    }
                }
            }
        }
    }
    .articles-info{
        .articles-option-list{
            img{
                filter: grayscale(1) brightness(0.25);
                transition: .3s;
            }
            span{
                transition: .3s;
            }
            &:hover{
                img{
                    filter: grayscale(0) brightness(1);
                }
                span{
                    color: get-color(primary);
                }
            }
        }
        .right-btn{
            padding-left: .5rem;
            padding-right: 4rem;
        }
        .left-btn{
            padding-left: 4rem;
            padding-right: .5rem;
        }
    }
}
@keyframes article-hover-box {
    from{
        background-position-x: 0px;
    }
    to{
        background-position-x: 9000px;
    }
}