
.service-card{
    height:58px;

    .img-service{
        width: 45px;
      
        background-color: get-color(card-color);
        border-color:#5b5a5a67; 
        border-width: 0.1px;
        filter: grayscale(1);
        transition: 0.5s all ease;
       

    }

    &:hover .img-service{
        filter: grayscale(0);
        border-color:get-color(border-color); 
    }
}
