@import "animation";

$item-numbers:3;
$start-deg:-25deg;
$end-deg:25deg;
$step: calc(($start-deg - $end-deg) / ($item-numbers - 1));
@mixin circle-menu-position(){
    $mid-item:0;
    @if (calc($item-numbers/2))!=0{
        $mid-item:round($item-numbers/2);
    }
    $current-angle:0;
    @for $i from 1 through ($item-numbers) {
        $current-angle: $start-deg - ($step * ($i - 1));
        $position-x : (math.div($current-angle, ($current-angle * 0 + 1))) * 1px;
        .child{
            &:nth-child(#{$i}){
                transform:rotate(#{$current-angle});
            }
            &:nth-child(#{$i}):hover ~ .circle-cursor .cursor{
                rotate: $current-angle !important;
            }   
            &:nth-child(#{$i}):hover ~ .circle-cursor .term-image#{$i}{
                opacity: 1 !important;
                z-index: 12 * $i;
            }
            
            &:nth-child(#{$i}):not(:hover) ~ .circle-cursor .term-image#{$i}{
                opacity: 0;
            }
            &:nth-child(#{$i}):hover ~ .circle-cursor .term-image#{$i} .image-icon > img{
                animation: service-icon 2s alternate infinite;
                top: 0px;
                opacity: 1;
            }
            &:nth-child(#{$i}):hover ~ .circle-cursor .term-image#{$i} .service-title h4{
                opacity: 1 !important;
            }
        }
        .term-image1 .image-icon > img, .term-image2 .image-icon > img, .term-image3 .image-icon > img{
            position: relative;
            top: -70px;
            opacity: 0;
            transition: 2s;
        }
        .termItemsInput#{$i}:checked ~ .parent-circle .circle-cursor .cursor{
            rotate : $current-angle;
        }
        .termItemsInput#{$i}:checked ~ .parent-circle .circle-cursor .term-image#{$i}{
           opacity: 1 ;
        }
        .termItemsInput#{$i}:checked ~ .parent-circle .circle-cursor .term-image#{$i} .service-title h4{
            opacity: 1 !important;
         }
        .termItemsInput#{$i}:checked ~ .parent-circle .circle-cursor .term-image#{$i} .image-icon > img{
            animation: service-icon 2s alternate infinite;
            top: 0px;
            opacity: 1;
         }
        
        
        @if ($position-x > 0){
            $position-x : $position-x * -1 ;
        }
    }
    @keyframes show-term-image {
        from{
            transform: translateY(-50px);
            opacity : 0;
        }
        to{
            transform: translateY(0px);
            opacity : 1;
        }
    }
    @keyframes hover-show-term-image {
        from{
            top: -70px;
            opacity : 0;
        }
        to{
            top: 0px;
            opacity : 1;
        }
    }
}
@include circle-menu-position();

#termItems{
    height: 110vh;
    background-image: url(image-asset("background-hero.webp"));
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width : get-break-point-value(lg)) {
        height: fit-content;
        overflow-x: hidden;
        overflow-y: hidden;
        .circle-cursor{
            .cursor,.service-icon{
                width: 350px !important;
                height: 350px !important;
                rotate: 0deg;
                @media screen and (max-width : get-break-point-value(md)){
                    width: 250px !important;
                    height: 250px !important;
                }
            }
            &::after , &::before{
                display: block !important;
            }
            .responsive-cursor{
                display: flex !important;
            }
            
        }
        .site-info{
            display: flex;
            align-items: center;
            h3{
                color: get-color(primary);
            }
        }
        
    }
   
    .responsive-cursor{
        display: none !important;
    }
    & .container:last-child{
        & > p{
            line-height: 2rem;
        }
        .site-option-list{
            span,img{
                transition: .2s;
            }
            img{
                filter: grayscale(1) brightness(0.25);
            }
            &:hover{
                
                span{
                    color: get-color(primary);
                }
                img{
                    filter: grayscale(0) brightness(1);
                }
            }
        }
        
    }
    .site-info > div{
        position: absolute;
        transform: rotateY(90deg);
        padding-left: 7rem;

        & > p{
            line-height: 2;
        }
        @media screen and (max-width : get-break-point-value(lg)) {
            position: unset;
        }
        @media screen and (max-width : get-break-point-value(md)) {
            padding: 0rem;
        }
    }
    #web-design-company:checked ~ .site-info .web-design-company{
        transform: rotateY(0deg);
        transition: .5s;
    }
    #marketing:checked ~ .site-info .marketing{
        transform: rotateY(0deg);
        transition: .5s;
    }
    #web-design-sell:checked ~ .site-info .web-design-sell{
        transform: rotateY(0deg);
        transition: .5s;
    }
    #web-design-sell:checked{
        & ~ .parent-circle > div > div .icon-service-1{
            &::before{
                opacity: .5;
                transform: scale(1.1);
            }
            .icon-back{
                border-color: get-color(primary);
            }
        }
    }
    #web-design-company:checked{
        & ~ .parent-circle > div > div .icon-service-2{
            &::before{
                opacity: .5;
                transform: scale(1.1);
            }
            .icon-back{
                border-color: get-color(primary);
            }
        }
    }
    #marketing:checked{
        & ~ .parent-circle > div > div .icon-service-3{
            &::before{
                opacity: .5;
                transform: scale(1.1);
            }
            .icon-back{
                border-color: get-color(primary);
            }
        }
    }
    .image-icon{
        position: relative;
        background-color: #080808;
        border:19px solid #080808;

        &::after{
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 90%;
            aspect-ratio: 1 / 1;
            background-color: #0D0D0D;
            border-radius: 50%;
            z-index: 9;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 80%;
            aspect-ratio: 1 / 1;
            background-image: linear-gradient(1800deg , #0E0E0E 10%, #030303 90%);
            border-radius: 50%;
            z-index: 10 ;
        }
        img{
            z-index: 11;
        }
    }
    .circle-cursor{
        transition: all 350ms ease-in-out;
        position: relative;
        
        &::after{
            content: "";
            position: absolute;
            width: 22%;
            height: 70px;
            border-radius: 50%;
            background-color: get-color(primary);
            filter: blur(30px);
            right: -15%;
            z-index: -1;
            display: none;
        }
        &::before{
            content: "";
            position: absolute;
            width: 22%;
            height: 70px;
            border-radius: 50%;
            background-color: get-color(primary);
            filter: blur(30px);
            left: -15%;
            z-index: -1;
            display: none;
        }
        .responsive-cursor{
            transform: rotateY(180deg);
            position: absolute;
            display: flex;
        }
        .cursor{
            width: 400px;
            height: 400px;
            transition: all 350ms ease-in-out;
            &::after
            {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: black;
                border-radius: 1000px;
                position: absolute;
                z-index:10;
                top:0px
            }
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 1000px;
                position: absolute;
                background: conic-gradient(transparent 0%, get-color(primary) 15%, transparent 85%);
                right: -3px;
                top: 0px;
            }
            .arrow-image{
                width: 50%;
                filter: contrast(1.05) sepia(1) saturate(1.5) hue-rotate(-24deg) brightness(8);
                transform: rotate(90deg) translateY(-55%); 
            }
        }
        .service-icon{
            width: 400px;
            height: 400px;
            .service{
                animation: service-icon 2s alternate infinite;
            }
        }
        .img-top{
            top: 0px;
            left: 0px;
            transform: translateY(-4%);
            img{
                width: 45%;
            }
            .top{
                transform: rotateZ(90deg);
            }
        }
        .img-bottom{
            bottom: 0px;
            left: 0px;
            transform: translateY(28%);
        }
        .service-title{
            transform: translateY(-50%);
            background: linear-gradient(#0E0E0E 0%, #030303 75%);
            h4{
                transition: .8s;
            }
        }
    }
    .child{
        transform-origin: left center;
        
        .icon-service{
            width: 80px;
            aspect-ratio: 1 / 1;
            border: 10px solid #0D0D0D;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-back{
                transition: all 350ms ease-in-out;
                padding: 7px;
                aspect-ratio: 1;
            }
            &::before{
                content:'';
                display: flex;
                position: absolute;
                width: 100%;
                height:100%;
                transform: scale(1.3);
                border: 1px solid get-color(primary);
                border-radius: 1000px;
                opacity: 0;
                transition: all 350ms ease-in-out;
            }
            &:hover::before{
                opacity: .5;
                transform: scale(1.1);
            }
            &:hover .icon-back{
                border-color: get-color(primary);
            }
        }
    
    }
}
@keyframes service-icon{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(20px);
    }
}