#hero{
    background-image: url(image-asset("header-photo.jpg"));
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    &::after{
        content: "";
        background-color:get-color(secondary);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.gallery-card{
    position: relative;
    overflow: hidden;

    .gallery-image{
        aspect-ratio: 1.35;
        object-fit: cover;
    }
    .gallery-cover::before{
        content: "";
        background-color: get-color(primary);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }
    .gallery-cover{
        top: 0;
        height: 100%;
        transform: translateX(-100%);
     
    }
    &:hover .gallery-cover{
        transform: translateX(0%);
    }
}
.menu-icon{
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
    right: 0;
    z-index: 15;
    @extend .transition;
}
.menu-line{
    background-color: get-color(primary);
    width: 100%;
    height: 100%;
}
.menu-line:first-child{
    @extend .transition;   
    transition-delay: 500ms;
}
.menu-line:last-child{
    @extend .transition;   
    transition-delay: 500ms;
}
.menu-line:nth-child(2){
    @extend .transition;   
    transition-delay: 500ms;
}
input:checked + .menu-icon{
    rotate: 90deg;
    .menu-line:first-child{
        rotate: -47deg;
        transform-origin: 108%;
    }
    .menu-line:last-child{
        rotate: 47deg;
        transform-origin: 108%;
    }
    .menu-line:nth-child(2){
        opacity: 0;
    }
}
input:checked + .menu-icon ~ .right-menu{
    transform: translateX(0%);
}
input:checked + .menu-icon ~ .left-menu{
    transform: translateX(0%);
}
.right-menu{
    height: 100vh;
    transform: translateX(100%);
    right: 0;
    @extend .transition;

    ul{
        .right-menu-item{
            cursor: pointer;
            @extend .transition;
        }
        .right-menu-item:hover{
            color: get-color(primary);
            letter-spacing: 3px;
        }
    }
}
.left-menu{
    height: 100vh;
    left: 0;
    transform: translateX(-100%);
    @extend .transition;

    .menu-image-container{
        width: 80%;
        position: relative;
        .menu-image{
            width: 50%;
            aspect-ratio: 1;
            position: absolute;
        }
        .image-top{
            top: 0;
            left: 0;
        }
        .image-bottom{
            bottom: 0;
            right: 0;
        }
        .image-center{
            transform: translate(50%,50%);
        }
    }
}
