<section id="articles" class="section d-grid g-2 d-lg-none">
            
    <div class="container articles-info h-100 w-100 position-relative gap-2">
        <div class="container gap-2 w-100 h-100 justify-content-center ">
            <div class="block flex-column flex-row gap-1 align-items-lg-center w-lg-100">
                <h3 class="title-creative txt-xxl-mid-title txt-md-normal title-text-color mb-1">وبلاگ وبسیما</h3>
                <p class="title-text-color txt-title">مرجع آموزش سئو و طراحی سایت</p>    
            </div>
            <p class="txt-normal mb-2 text-color font-secondary pl-10 pl-lg-0 txt-lg-center">آژانس خلاقیت وبسیما از همان آغاز کار خود توجه ویژه‌ای به تولید محتوای آموزشی و کاربردی داشته و به سرعت توانست به مرجع آموزش سئو به زبان فارسی تبدیل شود. امید است این مجموعه راهی برای پیشرفت و اعتلای تمامی فعالان در حوزه وب فارسی باشد.</p>
            <div class="d-flex mb-2">
                <div class="d-flex flex-column gap-2 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center articles-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">مقالات به‌روز و تالیفی</span></p>
                    <p class="d-flex gap-1 align-items-center articles-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">براساس استانداردهای سئو</span></p>
                </div>
                <div class="d-flex flex-column gap-2 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center articles-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">پشتیبانی ۱۴ ماهه حرفه‌ای</span></p>
                    <p class=" gap-1 align-items-center articles-option-list d-flex font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">خدمات توسعه پس از فروش</span></p>
                </div>
            </div>
            <div class="d-flex w-92 flex-row justify-content-space-between align-items-center align-self-flex-start gap-4">
                <div class="overflow-hidden all-border-normal">
                    
                    <button class="btn left-btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <i class="intro-btn lbtn fa-solid icon-xl-regular z-index-10 ml-2"></i>
                        <p class="z-index-10 txt-lg-subtitle">آخرین مقالات</p>
                    </button>
                </div>
                <div class="small-circle"></div>
                <div class="overflow-hidden all-border-normal">
                    <button class="btn d-flex right-btn align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <p class="z-index-10 txt-lg-subtitle">آموزش سئو</p>
                        <i class="intro-btn lbtn fa-solid fa-rotate-180 icon-xl-regular z-index-10 mr-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="h-100 w-100 articles-container d-flex flex-column">
        <div class="article-box d-flex gap-2 justify-content-center align-items-center">
            <div class=" all-border-normal d-flex justify-content-center align-items-center aspect-ratio-1x1 position-relative overflow-hidden">
                <img src="./assets/media/images/main-min-3.jpg" class="article-image z-index-10 all-border-normal w-100" alt="">
            </div>
            <div class="position-relative py-6 gap-1 d-flex flex-column justify-content-space-evenly">
                <p class="position-relative"><a href="#" class="title-text-color d-block font-weight-bold txt-normal font-secondary">کپی رایتینگ چیست؟ تکنیک‌هایی برای تاثیر‌گذار... </a></p>
                <p class="title-text-color txt-normal font-secondary mt-1">کپی رایتینگ چیست؟ تکنیک‌هایی برای تاثیر‌گذار...</p>
                <p class="text-color txt-subtitle mt-1 pr-4 position-relative">FEB 202327</p>
            </div>
        </div>
        <div class="article-box d-flex gap-2 justify-content-center align-items-center">
            <div class=" all-border-normal d-flex justify-content-center align-items-center aspect-ratio-1x1 position-relative overflow-hidden">
                <img src="./assets/media/images/main-min-3.jpg" class="article-image z-index-10 all-border-normal w-100" alt="">
            </div>
            <div class="position-relative py-6 gap-1 d-flex flex-column justify-content-space-evenly">
                <p class="position-relative"><a href="#" class="title-text-color d-block font-weight-bold txt-normal font-secondary">کپی رایتینگ چیست؟ تکنیک‌هایی برای تاثیر‌گذار... </a></p>
                <p class="title-text-color txt-normal font-secondary mt-1">کپی رایتینگ چیست؟ تکنیک‌هایی برای تاثیر‌گذار...</p>
                <p class="text-color txt-subtitle mt-1 pr-4 position-relative">FEB 202327</p>
            </div>
        </div>
    </div>
</section>