<section id="termItems" class="section pt-lg-10 d-grid g-2 gap-lg-5 px-lg-2 g-lg-1 gap-4 pl-10">
    <input type="radio" class="termItemsInput2" checked name="switch-type" id="web-design-company" class="d-none">
    <input type="radio" class="termItemsInput1" name="switch-type" id="web-design-sell" class="d-none">
    <input type="radio" class="termItemsInput3" name="switch-type" id="marketing" class="d-none">
    <div class="parent-circle h-100 w-100 container flex-row mb-10 justify-content-center gap-10 position-relative align-items-center">
        <div class="block flex-column align-items-start justify-content-center gap-4 position-relative w-100 z-index-2">
            <div class="div child w-54 z-index-2 d-lg-none position-absolute">
                <label for="web-design-sell" class="div icon-service icon-service-1 position-relative border-width-10 border-solid border-secondary-light-color all-border-full">
                    <div class="div icon-back p-1 border-width-1 border-solid all-border-full justify-content-center align-items-center bg-secondary-dark-color">
                        <img src="./assets/media/images/bono1-1.png" alt="" class="w-100">
                    </div>
                </label>
            </div>
            <div class="div child w-54 z-index-2 d-lg-none position-absolute">
                <label for="web-design-company" class="div icon-service icon-service-2 position-relative border-width-10 border-solid border-secondary-light-color all-border-full">
                    <div class="div icon-back p-1 border-width-1 border-solid all-border-full justify-content-center align-items-center bg-secondary-dark-color">
                        <img src="./assets/media/images/bono2-1.png" alt="" class="w-100">
                    </div>
                </label>
            </div>
            <div class="div child w-54 z-index-2 d-lg-none position-absolute">
                <label for="marketing" class="div icon-service icon-service-3 position-relative border-width-10 border-solid border-secondary-light-color all-border-full">
                    <div class="div icon-back p-1 border-width-1 border-solid all-border-full justify-content-center align-items-center bg-secondary-dark-color">
                        <img src="./assets/media/images/bono3-1.png" alt="" class="w-100">
                    </div>
                </label>
            </div>
            <div class="div circle-cursor justify-content-lg-center w-100 justify-content-flex-end align-items-center position-relative">
                <div class="div cursor align-items-center justify-content-flex-start all-border-full position-relative">
                    <img src="./assets/media/images/tazhib.webp" alt="" class="w-100 arrow-image z-index-1">
                </div>
                <div class="div cursor responsive-cursor d-none d-lg-block align-items-center justify-content-flex-start all-border-full position-relative">
                    <img src="./assets/media/images/tazhib.webp" alt="" class="w-100 arrow-image z-index-1">
                </div>
                <div class="container term-image1 opacity-0 flex-column justify-content-center align-items-center position-absolute top-none">
                    <div class="block service-icon position-relative aspect-ratio-1x1 all-border-full align-items-center justify-content-center">
                        <div class="image-icon p-lg-6 z-index-10 w-100 aspect-ratio-1x1 div justify-content-center align-items-center bg-secondary-dark-color border-width-10 border-solid border-secondary-light-color all-border-full position-relative z-index-2 p-8">
                            <img src="./assets/media/images/bono1-1.png" alt="" class="service w-92">
                        </div>
                        <div class="img-top w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="top w-62">
                        </div>
                        <div class="img-bottom justify-content-flex-end  w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="w-62">
                        </div>
                    </div>
                    <div class="service-title py-lg-2 block position-relative z-index-1 justify-content-center align-items-center all-border-normal px-4 py-3 bg-secondary-color z-index-10 w-100">
                        <h4 class="txt-title primary-color">woocommerce</h4>
                    </div>
                </div>
                <div class="container term-image2 opacity-0 flex-column justify-content-center align-items-center position-absolute top-none">
                    <div class="block service-icon position-relative aspect-ratio-1x1 all-border-full align-items-center justify-content-center">
                        <div class="image-icon p-lg-6 z-index-10 w-100 aspect-ratio-1x1 div justify-content-center align-items-center bg-secondary-dark-color border-width-10 border-solid border-secondary-light-color all-border-full position-relative z-index-2 p-8">
                            <img src="./assets/media/images/bono2-1.png" alt="" class="service w-92">
                        </div>
                        <div class="img-top w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="top w-62">
                        </div>
                        <div class="img-bottom justify-content-flex-end w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="w-62">
                        </div>
                    </div>
                    <div class="service-title py-lg-2 block position-relative z-index-1 justify-content-center align-items-center all-border-normal px-4 py-3 bg-secondary-color z-index-10 w-100">
                        <h4 class="txt-title primary-color">woocommerce</h4>
                    </div>
                </div>
                <div class="container term-image3 opacity-0 flex-column justify-content-center align-items-center position-absolute top-none">
                    <div class="block service-icon position-relative aspect-ratio-1x1 all-border-full align-items-center justify-content-center">
                        <div class="image-icon p-lg-6 z-index-10 w-100 aspect-ratio-1x1 div justify-content-center align-items-center bg-secondary-dark-color border-width-10 border-solid border-secondary-light-color all-border-full position-relative z-index-2 p-8">
                            <img src="./assets/media/images/bono3-1.png" alt="" class="service w-92">
                        </div>
                        <div class="img-top w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="top w-62">
                        </div>
                        <div class="img-bottom justify-content-flex-end w-100 h-100 position-absolute div flex-column align-items-center justify-content-flex-start  ">
                            <img src="./assets/media/images/tazhib.webp" alt="" class="w-62">
                        </div>
                    </div>
                    <div class="service-title py-lg-2 block position-relative z-index-1 position-relative z-index-1 justify-content-center align-items-center all-border-normal px-4 py-3 bg-secondary-color z-index-10 w-100">
                        <h4 class="txt-title primary-color">woocomm44erce</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container site-info h-100 w-100 position-relative gap-2">
        <div class="container gap-2 w-100 h-100 justify-content-center   web-design-company ">
            <div class="block flex-column flex-row gap-1 align-items-lg-center w-lg-100">
                <h3 class="title-creative txt-xxl-mid-title txt-md-normal title-text-color">طراحی سایت شرکتی</h3>
                <p class="title-text-color txt-title">مناسب برای معرفی و برندینگ آنلاین</p>    
            </div>
            <p class="txt-normal mb-2 text-color font-secondary pl-10 pl-lg-0 txt-lg-center">هدف آژانس خلاقیت وبسیما در طراحی سایت شرکتی، ثبت جلوه‌ای زیبا و ماندگار از تجارت شما در ذهن مخاطب است؛ ترسیم یک  وبسایت شرکتی باید بگونه‌ای باشد که اگر کاربری بدون ذهنیت قبلی  از فعالیت شما در دنیای واقعی و برای اولین‌بار از طریق وبسایت با برند شما آشنا شد ، با تصویری ایده‌آل از کسب و کارتان مواجه شود.</p>
            <div class="d-flex mb-2">
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">طراحی اختصاصی و منحصربه‌فرد</span></p>
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">براساس استانداردهای سئو</span></p>
                    <p class="d-flex gap-1 align-items-center d-lg-none site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">خدمات توسعه پس از فروش</span></p>
                </div>
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">پشتیبانی ۱۴ ماهه حرفه‌ای</span></p>
                    <p class=" gap-1 align-items-center site-option-list d-none d-lg-flex font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">خدمات توسعه پس از فروش</span></p>
                </div>
            </div>
            <div class="d-flex w-92 flex-row justify-content-space-between align-items-center align-self-flex-start gap-4">
                <div class="overflow-hidden all-border-normal">
                    
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <i class="intro-btn lbtn fa-solid icon-xl-regular z-index-10 ml-2"></i>
                        <p class="z-index-10 txt-lg-subtitle">طراحی سایت سازمانی</p>
                    </button>
                </div>
                <div class="small-circle"></div>
                <div class="overflow-hidden all-border-normal">
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <p class="z-index-10 txt-lg-subtitle">بررسی نمونه کارها</p>
                        <i class="intro-btn lbtn fa-solid fa-rotate-180 icon-xl-regular z-index-10 mr-2"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container gap-2 w-100 h-100 justify-content-center d-lg-none  web-design-sell">
            <div class="block flex-column flex-row gap-1">
                <h3 class="title-creative txt-xxl-mid-title txt-md-subtitle title-text-color">طراحی سایت شرکتی</h3>
                <p class="title-text-color txt-title">مناسب برای معرفی و برندینگ آنلاین</p>    
            </div>
            <p class="txt-normal mb-2 text-color font-secondary pl-10">هدف آژانس خلاقیت وبسیما در طراحی سایت شرکتی، ثبت جلوه‌ای زیبا<br> و ماندگار از تجارت شما در ذهن مخاطب است؛ ترسیم یک  وبسایت شرکتی باید بگونه‌ای باشد که اگر کاربری بدون ذهنیت قبلی  از فعالیت شما در دنیای واقعی و برای اولین‌بار از طریق وبسایت با برند شما آشنا شد ، با تصویری ایده‌آل از کسب و کارتان مواجه شود.</p>
            <div class="d-flex mb-2">
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">طراحی اختصاصی و منحصربه‌فرد</span></p>
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">براساس استانداردهای سئو</span></p>
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">خدمات توسعه پس از فروش</span></p>
                </div>
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">پشتیبانی ۱۴ ماهه حرفه‌ای</span></p>
                </div>
            </div>
            <div class="d-flex w-92 flex-row justify-content-space-between align-items-center align-self-flex-start gap-4">
                <div class="overflow-hidden all-border-normal">
                    
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <i class="intro-btn lbtn fa-solid icon-xl-regular z-index-10 ml-2"></i>
                        <p class="z-index-10">طراحی سایت سازمانی</p>
                    </button>
                </div>
                <div class="small-circle"></div>
                <div class="overflow-hidden all-border-normal">
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <p class="z-index-10">بررسی نمونه کارها</p>
                        <i class="intro-btn lbtn fa-solid fa-rotate-180 icon-xl-regular z-index-10 mr-2"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container gap-2 w-100 h-100 justify-content-center d-lg-none marketing ">
            <div class="block flex-column flex-row gap-1">
                <h3 class="title-creative txt-xxl-mid-title txt-md-subtitle title-text-color">طراحی سایت شرکتی</h3>
                <p class="title-text-color txt-title">مناسب برای معرفی و برندینگ آنلاین</p>    
            </div>
            <p class="txt-normal mb-2 text-color font-secondary pl-10">هدف آژانس خلاقیت وبسیما در طراحی سایت شرکتی، ثبت جلوه‌ای زیبا<br> و ماندگار از تجارت شما در ذهن مخاطب است؛ ترسیم یک  وبسایت شرکتی باید بگونه‌ای باشد که اگر کاربری بدون ذهنیت قبلی  از فعالیت شما در دنیای واقعی و برای اولین‌بار از طریق وبسایت با برند شما آشنا شد ، با تصویری ایده‌آل از کسب و کارتان مواجه شود.</p>
            <div class="d-flex mb-2">
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">طراحی اختصاصی و منحصربه‌فرد</span></p>
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">براساس استانداردهای سئو</span></p>
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">خدمات توسعه پس از فروش</span></p>
                </div>
                <div class="d-flex flex-column gap-1 justify-content-center align-items-start">
                    <p class="d-flex gap-1 align-items-center site-option-list font-primary"><img class="w-12" src="./assets/media/images/li-sign.png" alt=""> <span class="text-color txt-normal">پشتیبانی ۱۴ ماهه حرفه‌ای</span></p>
                </div>
            </div>
            <div class="d-flex w-92 flex-row justify-content-space-between align-items-center align-self-flex-start gap-4">
                <div class="overflow-hidden all-border-normal">
                    
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <i class="intro-btn lbtn fa-solid icon-xl-regular z-index-10 ml-2"></i>
                        <p class="z-index-10">طراحی سایت سازمانی</p>
                    </button>
                </div>
                <div class="small-circle"></div>
                <div class="overflow-hidden all-border-normal">
                    <button class="btn d-flex align-items-center all-border-small pl-4 font-primary txt-normal border-solid border-width-1 border-color">
                        <div class="hover-btn"></div>
                        <p class="z-index-10">بررسی نمونه کارها</p>
                        <i class="intro-btn lbtn fa-solid fa-rotate-180 icon-xl-regular z-index-10 mr-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>