<section id="WorkSamples" class="w-100 section gap-3">
    <div class="container flex-md-column justify-md-content-center align-md-items-flex-end w-100 px-10 px-md-2 z-index-1 flex-row justify-content-space-between align-items-center">
        <h3 class="title-creative txt-xxl-normal txt-md-normal mb-md-2 title-text-color txt-md-center">حضور شما در جمع برترین‌های ایران</h3>
        <div class="overflow-hidden all-border-normal">
            <button class="btn d-flex align-items-center all-border-small pl-2 pr-6 justify-content-flex-end font-primary txt-normal border-solid border-width-1 border-color">
                <div class="hover-btn"></div>
                <p class="z-index-2">همه نمونه کارها</p>
                <i class="intro-btn lbtn fa-solid fa-rotate-180 icon-xl-regular z-index-2 mr-2"></i>
            </button>
        </div>
    </div>
    <div class="gallery  gap-4 container d-grid g-xxl-7 g-md-4 px-10 px-md-3 justify-content-center align-items-center">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/behe-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/ziba-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/7-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/anjo-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/as-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/walli-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/adak-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/behe-min.png" alt="">
        <img class="w-100 bg-gallery-color"src="./assets/media/images/ziba-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/7-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/anjo-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/as-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/walli-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/adak-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/behe-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/ziba-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/7-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/anjo-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/as-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/walli-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/adak-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/behe-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/ziba-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/7-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/anjo-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/as-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/walli-min.png" alt="">
        <img class="w-100 bg-gallery-color" src="./assets/media/images/adak-min.png" alt="">
    </div>
</section>