.logo{
    .logo-content{
        flex-direction: column;
    }

    i{
        font-size: 50px;
    }
}


.button-variant{
    background-color: white;
}

.button-hover:hover{
    background-color: get-color(button-hover);
    color: get-color(button-text-hover);
}

.transition{

    transition:all 500ms ease;

}