


.under-line-width{
    width: 100px;
}

.vision{
    i{
        padding: 10px 14px;
    }
}
.Mission{
    i{
        padding: 10px;
    }
}

.menu-item a label i{
    padding: 0px 2px;

}

#moon{
    background-image: url(image-asset("moon.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    background-size: 1700px;

    @media screen and (max-width:get-break-point-value(lg)) {
        .txt-center-lg{
            text-align: center;
        }
    }
    @media screen and (max-width:get-break-point-value(sm)) {
        .txt-center-sm{
            text-align: center;
        }
    }
}

// #about-us::before{
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     background-image: url(image-asset("bg-moon-horizontal.png"));
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: 120%;
// }

@media screen and (max-width:get-break-point-value(lg)){
    #about-us::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: url(image-asset("bg-moon-vertical.png"));
        background-position: 0% 78%;
        background-repeat: no-repeat;
        background-size: 109% 79%;
        opacity: 0.4;
    }
}

.image-box{
    & img:first-child{
        transform: rotateZ(-10deg);
        top: -20%;
        left: -30px;
    }
    & img:last-child{
        transform: rotateZ(10deg);
        bottom: -2%;
        right: 50px;
    }

    @media screen and (max-width:get-break-point-value(lg)) {
        & img:first-child{
            transform: rotateZ(0deg);
            left: 10px !important;
        }
        & img:last-child{
            transform: rotateZ(0deg);
            right: 10px;
        }
    }
}

.team-info{
    background-image: url(image-asset("Circle5-e1708581541681.png"));
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (max-width:get-break-point-value(lg)) {
        background-image: url(image-asset("Circle1.png"));
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media screen and (max-width:get-break-point-value(md)) {
        background-image: url(image-asset("Background-Responsive.png"));
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
    }
}

#team{
    & > div:last-child > div{
        overflow: hidden;
        cursor: pointer;
        position: relative;

        &:hover{
            &::before{
                transform: translateY(0%);
            }
            .profile-overly{
                transform: translateY(0);
                opacity: 1;
            }
        }
        &::before{
            content: "";
            background-color: get-color(secondary);
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: .7;
            transform: translateY(100%);
            transition: .3s  ease-in-out;
            
        }
        .profile-overly{
            top: 0;
            right: 0;
            height: 100%;
            transform: translateY(20%);
            opacity: 0;
            transition: .3s .05s ease-in-out;
            .social-icons{
                a{
                    width: 26px;
                    transition: .2s ease-in-out;
                    overflow: hidden;
                    i{
                        transform: translateY(0px);
                    }
                    &:hover{
                        background-color: get-color(primary);
                        color: get-color(on-primary);
                        i{
                            animation: profile-icon .5s forwards;
                        }
                    }
                    
                }
            }
        }
    }
}
@keyframes profile-icon{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    30%{
        transform: translateY(100%);
        opacity: 0;
    }

    31%{
        transform: translateY(-100%);
    }
    70%{
        transform: translateY(0);
        opacity: 1;
    }
}

#blog{

    .blog-cards{
            .card{
                .blog-term{
                    padding-top:2px;
                    padding-bottom:2px;
                    top:20px;
                    left: 20px;
                }
            
                .blog-image{
                    img{
                        border-top-right-radius:35px;
                        transition: all 350ms ease-in-out;
                    }
                }
            &:hover{
                .blog-image{
                    img{
                        transform: rotateZ(2deg) scale(1.1);
                        filter: brightness(0.7) contrast(1);
                    }
                }
            }
        }
        
    }
    
}

#join-us{
    background-image: url(../../assets/media/images/mystic-view-of-the-half-moon-in-the-black-space-2023-11-27-04-59-24-utc-Photoroom.png-Photoroom.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        top: 0%;
        background-color: get-color(black);
        opacity: .5;
    }
}

#circles{
    .circle{
        width:160px;
        @media screen and (max-width:get-break-point-value(md)) {
            width:130px;
        }
    }
    .circle-variant{
        width:210px;
        @media screen and (max-width:get-break-point-value(md)) {
            width: 180px;
        }
        @media screen and (max-width:get-break-point-value(sm)){
            margin-top: -1.5rem;
            margin-bottom: -1.5rem;
        }
    }
}
.txt-end{
    text-align: end;
}
.txt-lg-end{
    @media screen and (max-width:get-break-point-value(lg)) {
        text-align: end;
    }
}
.txt-start{
    text-align: start;
}
.txt-lg-start{
    @media screen and (max-width:get-break-point-value(lg)) {
        text-align: start;
    }
}

.txt-md-center{
    @media screen and (max-width:get-break-point-value(md)) {
        text-align: center;
    }
}
#activities{
    position: relative;
    width: 100vw;
   

&::before{
    content: "";
    position: absolute;
    top: 7%;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(image-asset("Star8.png"));
    background-color: #04041077;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 45%;
    transform: rotate(178deg);
    z-index: 1;
}

    @media screen and (max-width:1020px) {
        background-position-x: 50%;
        
    }
    @media screen and (max-width:get-break-point-value(md)) {
        background-image: url(image-asset("BG-WWD.png"));

            .activities-subtitle{
        letter-spacing: 5px;
    }


    }


    div{
        .activity-image-box{

             .quarter{
                .circle-icon{
                  width: 50px;
                }

                @media screen and (max-width:get-break-point-value(md)) {

                    img{
                        border-radius: 25px !important;
                        height: 200px;
                        object-fit: cover;
                    }
            
                }

            }

            &:nth-child(1){
                .quarter{
                    transition: 200ms 0s linear;

                    .circle-icon{
                        top:29%;
                        left:15%;
                    }

                    @media screen and (max-width:get-break-point-value(md)) {
                        .circle-icon{
                            top:-15%;
                            left:0%;
                        }
                
                    }
               
                    &:hover{
                        transform: translate(-2% , -2%);
                    }
                }
            }
            &:nth-child(2){
                .quarter{
                    transition: 200ms 0s linear;

                    .circle-icon{
                        top:29%;
                        left:70%;
                    }

                    @media screen and (max-width:get-break-point-value(md)) {
                        .circle-icon{
                            top:-15%;
                            left:92%;
                        }
                
                    }
                    &:hover{
                        transform: translate(2% , -2%);
                    }
                }
            }
            &:nth-child(3){
                .quarter{
                    transition: 200ms 0s linear;

                    .circle-icon{
                        top:56%;
                        left:15%;
                    }

                    @media screen and (max-width:get-break-point-value(md)) {
                        .circle-icon{
                            top:-15%;
                            left:0%;
                        }
                
                    }

                    &:hover{
                        transform: translate(-2% , 2%);
                    }
                }
            }
            &:nth-child(4){
                .quarter{
                    transition: 200ms 0s linear;
                    .circle-icon{
                        top:54%;
                        left:71%;
                    }
                    @media screen and (max-width:get-break-point-value(md)) {
                        .circle-icon{
                            top:-15%;
                            left:92%;
                        }
                
                    }

                    &:hover{
                        transform: translate(2% , 2%);
                    }
                }
            }
        }
    }
}

#partners{
    .scroll-image{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        scroll-snap-type: x mandatory;
        overflow: scroll;
        // scrollbar-width: none;
        scroll-padding: 0px;
        @media screen and (max-width:get-break-point-value(lg)) {
            gap: 300px;
    
        }

        img{
            scroll-snap-align: center;
            scroll-snap-stop: always;
            flex-shrink: 0;
            flex-basis: 10%;
            @media screen and (max-width:get-break-point-value(lg)) {
                flex-basis: 15%;
        
            }
        }
    }
}

#comments{

    

    .scroll-comment{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // gap: 20px;
        scroll-snap-type: x mandatory;
        overflow: scroll;
        // scrollbar-width: none;
        scroll-padding: 0px;
  

        .comment-card{
            scroll-snap-align: center;
            scroll-snap-stop: always;
            flex-shrink: 0;
            flex-basis: 50%;
            @media screen and (max-width:get-break-point-value(md)) {
                flex-basis: 70%;
        
            }
        }
        .profile{

            width: 70px;
    
        }
    }

}

#footer{

    div{
        .social-icons{

            li{
    
                transition: all 100ms ease-in;
    
                width: 30px;
    
                &:hover{
    
                    background-color: get-color(on-primary);
    
    
                    a{
    
                        color:get-color(primary);
    
                    }
    
                }
    
            }
    
        }
    }
    .content-footer-menu{
        ul{
            li{
                span{
                    transition: .2s ease;
                    width: 25px;
                    &:hover{
                        color: #69727d;
                    }
                }
            }
        }
       
    }



}