// Desktop

.badge{
    .badge-box{
        border-top:none;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        .badge-image{
            transform: translateY(35%);
            transition: all 250ms ease-in-out;
            &:hover{
                transform: translateY(55%);
            }
         }
    }
    .shadow{
        background-image:radial-gradient(circle at center, get-color(primary) 0, transparent 70%);;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
        transition: all 250ms ease-in-out;
    }
    &:hover{
        .shadow{
            opacity: 0.4;
        }
        .badge-image{
            transform: translateY(50%);
        }
    }
}
.desktop-menu{
    .nav-item{
        .nav-icon{
            width: 17px;
            height: fit-content;
            opacity: 0;
            transform: translateY(-60%);
            transition: all 250ms ease-in-out;
        } 
        .new-post{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: get-color(primary);
                border-radius: 50%;
                top: -7;
                right: 0;
                transform: translateX(0px);
                opacity: 1;
                transition: 200ms ease-in-out;
            }
        }
        .nav-link{
            transition: all 250ms ease-in-out;
        }
        &:hover{
            .nav-link{
                color: get-color(primary);
            }
            .nav-icon{
                opacity: 1;
                transform: translateY(0);
            }
            .new-post{
                &::after{
                    transform: translateX(-10px);
                    opacity: 0;
                }
            }
        }
    }
}
    header{
        display: flex;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center; 
        & > div:first-child{
            align-items: start;
            width: 100%;
            flex-direction: column;
        } 
        & > div:last-child{
            justify-content: end;
            width: 100%;
            flex-direction: column;
        }
        .header-desktop-menu-nav{
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
        }
    }


    .sidebar-menu{
        top: 55px;
        transform: rotateX(90deg);
        transition:all 250ms ease-in-out;
        width: 200px;
        background-color: #000;
        border-color : #120E0C;
        .side{
            .side-image{
                filter: grayscale(1);
                transition:all 250ms ease-in-out;
            }
            .side-menu{
                .side-link{
                    transition:all 250ms ease-in-out;
                    margin-bottom: 0.4rem;
                }
                .en-side-link{
                    transition:all 250ms ease-in-out;
                }
            }
            &:hover{
                .side-image{
                    filter: grayscale(0);
                }
                .side-link{
                    color: get-color(primary);
                }
                .en-side-link{
                    color: get-color(white);
                }
            }
        }
        &:hover{
            transform: rotateX(0deg);
        }
    }
    .toggle-menu{
        &:hover + .sidebar-menu{
            transform: rotateX(0deg);
        }
    }
    .logo-title{
        transform: translateY(-50px);
        opacity: 0;
        animation-timeline: view(block 0% 89%);
        animation-name: show-logo-title-scroll;
        animation-fill-mode: both;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
        animation-timing-function: linear;
    }
    .logo-icon{
        z-index: 2;
        cursor: pointer;
        
    }
    .logo-title-2{
        transition: .6s linear, opacity .6s .1s linear;
        position: absolute;
        top: 30%;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
    }
    .logo-icon:hover ~ .logo-title-2{
        top: 38%;
        opacity: 1;
    }
    
    @keyframes show-logo-title-hover {
        0%{
            transform: translateY(-50px);
            opacity: 0;    
        }
        50%{
            transform: translateY(-25px);
            opacity: .5;    
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes show-logo-title-scroll {
        from{
            transform: translateY(0);
            opacity: 1;
        }
        to{
            transform: translateY(-30);
            opacity: 0;
        }
    }
    @-moz-document url-prefix() {
        .logo-title{
            transform: translateY(0);
            opacity: 1;
            transition: .5s;
            animation: show-logo-firefox .5s 1s forwards;
        }
        .logo-icon:hover ~ .logo-title{
            opacity: 0;
        }
    }
    @keyframes show-logo-firefox{
        from{
            transform: translateY(0px);
            opacity: 1;  
        }
        to{
            transform: translateY(-30px);
            opacity: 0;
        }
    }
    @keyframes logo-firefox-hover{
        from{
            transform: translateY(-30px);
            opacity: 0;  
        }
        to{
            transform: translateY(0px);
            opacity: 1;
        }
    }

// Mobile

@media screen and (max-width : get-break-point-value(lg)) {
    
$item-numbers:10;
$start-deg:45deg;
$end-deg:-45deg;
@mixin items-position {
    $step: calc(($start-deg - $end-deg) / ($item-numbers - 1));
    $current-position:0;
    @for $i from 1 through ($item-numbers) {
        $current-position: $start-deg - ($step * ($i - 1));
        $position-x : (math.div($current-position, ($current-position * 0 + 1))) * 1px;
        @if ($position-x > 0){
            $position-x : $position-x * -1 ;
        }
        #openMenu:checked ~ .menu-overly{
            .circle{
                direction: ltr;
                ul{
                    li{
                        &:nth-child(#{$i}){
                            animation: menu-item#{$i} 1.5s 1s forwards;
                            a{
                                span{
                                    animation: show-menu-text .5s (($i * .2s) + 2s) forwards;
                                }
                            }
                        }
                    }
                }
            } 
        }
        .circle{
            ul{
                li{
                    opacity: 0;
                    transform: rotate(0deg);
                    &:nth-child(#{$i}){
                        a{
                            transform-origin: left center;
                            transform: rotate($current-position * -1) ;   

                            span{
                               opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        
        @keyframes menu-item#{$i}{
            0%{
                opacity: 0;
                transform: rotate(0deg);
            }
            50%{
                opacity: .6;
            }
            100%{
                 opacity: 1;
                transform: rotate($current-position);
            }
        }
    }
}
@include items-position;

header{
    overflow: hidden;
    justify-items: center;
    display: flex !important;
    justify-content: space-between;
    .header-desktop-menu-nav{
        display: flex;
        width: 100%;
        ul{
            width: 50% !important;
        }
    }
    .badge{
        position: fixed;
        bottom: 35px;
        left: 35px;
        &:hover img{
            transform: translateY(33%) !important;
        }
        .shadow{
            background-image: linear-gradient(to top, #bc8971 0, transparent 70%);
            bottom: -42px;
            left: 6px;
            opacity: 0.4;
            width: 82%;
            height: 105%;
            border-radius: 50% !important;
            z-index: -1;
            filter: blur(9px);
        }
        .b
adge-box{
            border: none;
            & .badge-image{
                &:hover{
                    transform: translateY(35%);
                }
            }
            img{
                width: 35px;
            }
        }
    }
    .logo{
        cursor: pointer;
        direction: ltr;
        div{
            transition: .7s ease-in-out;
            transform-origin: 4px -17px;
        }
        &:hover{
            div{
                transform: rotate(90deg);
            }
        }
    }
    nav{
        position: relative;
        width: fit-content;
        #openMenu:checked ~ .menu-overly{
            transform: translateX(0%);
            .close-menu-icon{
                animation: show-close-icon .5s 1s ease-in-out forwards;
            }
        }
        .close-menu-icon{
            opacity: 0;
            & > div{
                width: 68px;
            }
        }
        .open-menu-icon{
            cursor: pointer;
            & > div{
                width: 68px;
            }
            &:hover{
                img,i{
                    box-shadow: 0 0 37px 6px get-color(shadow);
                }
            }
            img,i{
                box-shadow: 0 0 40px get-color(shadow);
                transition: .2s;
            }
        }
        .menu-overly{
            background: radial-gradient(circle, #000000 40%, #00000000 100%);
            background-size: 350%;
            top: 0;
            right: 0;
            backdrop-filter: blur(4px) grayscale(1);
            justify-content: right;
            display: flex;
            transition: .5s ease;
            transform: translateX(100%);
            .open-menu-icon{
                right: 10px;
                top: 10px;
                cursor: pointer;
                z-index: 1;
                div{
                    width: 75px;
                    cursor: pointer;
                    i{
                        display: flex;
                        // font-size: 2rem;
                    }
                }
            }
            .circle{
                height: 100vh;
                position: relative;
                aspect-ratio: 1/1;
                border-bottom-left-radius: 1000px;
                border-top-left-radius: 1000px;
                transform: translateX(60%);
                background: conic-gradient(transparent 50%, #bc8971 75%, transparent 95%);
                &::after{
                    content: "";
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: calc(100% - 1px);
                    height: calc(100% - 1px);
                    background-color: #000;
                    border-bottom-left-radius: 1000px;
                    border-top-left-radius: 1000px;
                }
                ul{
                    position: relative;
                    transform: translateX(-15px) rotateZ(0deg);
                    z-index: 99;
                    li{
                        position: absolute;
                        transform-origin: right center;
                        div{
                            box-shadow: 0 0 5px 1px get-color(shadow);
                        }
                    }
                }
            }
        }
        
        
    }
    
}

@keyframes show-menu-text {
    0%{
        opacity: 0;
        transform: translateX(-10px);

    }
    100%{
        opacity: 1;
        transform: translateX(5px);
    }
}
}
@keyframes show-close-icon {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


input{
    display: none;
}

